<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561206491383-nidq6fohsg327hj182fvtv60ial8eeo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561206491383-nidq6fohsg327hj182fvtv60ial8eeo1</string>
	<key>API_KEY</key>
	<string>AIzaSyBB4zseu-YH8a0yL1S1CseFwmeDJBK1MUY</string>
	<key>GCM_SENDER_ID</key>
	<string>561206491383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogesh.ChatSwift</string>
	<key>PROJECT_ID</key>
	<string>chatswift-8e6af</string>
	<key>STORAGE_BUCKET</key>
	<string>chatswift-8e6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561206491383:ios:a0d9330e42b09998ae3bf2</string>
	<key>DATABASE_URL</key>
	<string>https://chatswift-8e6af-default-rtdb.firebaseio.com</string>
</dict>
</plist>